@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force light-mode so iOS doesn't auto-darken inputs */
:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
  overflow-x: hidden; /* prevent sideways sliding on mobile */
}

/* center images in markdown */
.prose img {
  margin: 1.25rem auto;
  display: block;
}